<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>share</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminAction</display-name>
    <servlet-name>AdminAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.AdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAction</servlet-name>
    <url-pattern>/admin/AdminAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalOrderAction</display-name>
    <servlet-name>SalOrderAction</servlet-name>
    <servlet-class>com.barter.share.bas.frontaction.SalOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalOrderAction</servlet-name>
    <url-pattern>/SalOrderAction.Action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderInfoAction</display-name>
    <servlet-name>OrderInfoAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.OrderInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderInfoAction</servlet-name>
    <url-pattern>/admin/OrderInfoAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAction</display-name>
    <servlet-name>ProductAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.ProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAction</servlet-name>
    <url-pattern>/admin/ProductAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSKUAction</display-name>
    <servlet-name>ProductSKUAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.ProductSKUAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSKUAction</servlet-name>
    <url-pattern>/admin/ProductSKUAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DictionaryAction</display-name>
    <servlet-name>DictionaryAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.DictionaryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryAction</servlet-name>
    <url-pattern>/admin/DictionaryAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAction</display-name>
    <servlet-name>CustomerAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.CustomerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAction</servlet-name>
    <url-pattern>/admin/CustomerAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierAction</display-name>
    <servlet-name>SupplierAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.SupplierAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierAction</servlet-name>
    <url-pattern>/admin/SupplierAction.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysEmployeeRoleAction</servlet-name>
    <url-pattern>/admin/SysEmployeeRoleAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>salOrderDetailReviewAction</display-name>
    <servlet-name>salOrderDetailReviewAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.salOrderDetailReviewAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>salOrderDetailReviewAction</servlet-name>
    <url-pattern>/admin/salOrderDetailReviewAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SysEmployeeRoleAction</display-name>
    <servlet-name>SysEmployeeRoleAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.SysEmployeeRoleAction</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CartAction</display-name>
    <servlet-name>CartAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.CartAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAction</servlet-name>
    <url-pattern>/admin/CartAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalOrderDetailReviewDaoAction</display-name>
    <servlet-name>SalOrderDetailReviewDaoAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.SalOrderDetailReviewDaoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalOrderDetailReviewDaoAction</servlet-name>
    <url-pattern>/admin/SalOrderDetailReviewDaoAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalOrderDetailAction</display-name>
    <servlet-name>SalOrderDetailAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.SalOrderDetailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalOrderDetailAction</servlet-name>
    <url-pattern>/admin/SalOrderDetailAction.Action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SysEmployeeManegerAction</display-name>
    <servlet-name>SysEmployeeManegerAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.SysEmployeeManegerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysEmployeeManegerAction</servlet-name>
    <url-pattern>/admin/SysEmployeeManegerAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockinsysAction</display-name>
    <servlet-name>StockinsysAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.StockinsysAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockinsysAction</servlet-name>
    <url-pattern>/admin/StockinsysAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockinDetailAction</display-name>
    <servlet-name>StockinDetailAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.StockinDetailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockinDetailAction</servlet-name>
    <url-pattern>/admin/StockinDetailAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/admin/LoginAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexAction</display-name>
    <servlet-name>IndexAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.IndexAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAction</servlet-name>
    <url-pattern>/admin/IndexAction.Action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SysRoleAction</display-name>
    <servlet-name>SysRoleAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.SysRoleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysRoleAction</servlet-name>
    <url-pattern>/admin/SysRoleAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SysModuleAction</display-name>
    <servlet-name>SysModuleAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.SysModuleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysModuleAction</servlet-name>
    <url-pattern>/admin/SysModuleAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SysMenuAction</display-name>
    <servlet-name>SysMenuAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.SysMenuAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysMenuAction</servlet-name>
    <url-pattern>/admin/SysMenuAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SysRoleMenuAction</display-name>
    <servlet-name>SysRoleMenuAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.SysRoleMenuAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysRoleMenuAction</servlet-name>
    <url-pattern>/admin/SysRoleMenuAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrganizationAction</display-name>
    <servlet-name>OrganizationAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.OrganizationAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrganizationAction</servlet-name>
    <url-pattern>/admin/OrganizationAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goodsDetailedAction</display-name>
    <servlet-name>goodsDetailedAction</servlet-name>
    <servlet-class>com.barter.share.bas.frontaction.goodsDetailedAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsDetailedAction</servlet-name>
    <url-pattern>/f/goodsDetailedAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goodsDetailedActionSKU</display-name>
    <servlet-name>goodsDetailedActionSKU</servlet-name>
    <servlet-class>com.barter.share.bas.frontaction.goodsDetailedActionSKU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsDetailedActionSKU</servlet-name>
    <url-pattern>/f/goodsDetailedActionSKU.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginAction</display-name>
    <servlet-name>AdminLoginAction</servlet-name>
    <servlet-class>com.barter.share.bas.action.AdminLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginAction</servlet-name>
    <url-pattern>/AdminLoginAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerachPageAction</display-name>
    <servlet-name>SerachPageAction</servlet-name>
    <servlet-class>com.barter.share.bas.frontaction.SerachPageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerachPageAction</servlet-name>
    <url-pattern>/front/SerachPageAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WomenAction</display-name>
    <servlet-name>WomenAction</servlet-name>
    <servlet-class>com.barter.share.bas.frontaction.WomenAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WomenAction</servlet-name>
    <url-pattern>/front/WomenAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageAction</display-name>
    <servlet-name>ImageAction</servlet-name>
    <servlet-class>com.barter.share.bas.frontaction.ImageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageAction</servlet-name>
    <url-pattern>/ImageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAction</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.barter.share.bas.frontaction.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/front/RegisterAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginfAction</display-name>
    <servlet-name>LoginfAction</servlet-name>
    <servlet-class>com.barter.share.bas.frontaction.LoginfAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginfAction</servlet-name>
    <url-pattern>/front/LoginfAction.action</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>CartfAction</display-name>
    <servlet-name>CartfAction</servlet-name>
    <servlet-class>com.barter.share.bas.frontaction.CartfAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartfAction</servlet-name>
    <url-pattern>/front/CartfAction.action</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminAuthenFilter</display-name>
    <filter-name>AdminAuthenFilter</filter-name>
    <filter-class>com.barter.share.framework.web.AdminAuthenFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminAuthenFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.barter.share.framework.web.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping> 
</web-app>