a,address,b,big,blockquote,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
button,html input[type=button],input[type=submit]{-webkit-apperance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}ol,ul{list-style:none}img{border:0;vertical-align:middle}em,i,u{font-style:normal}.fl{float:left}.fr{float:right}.al{text-align:left}.ac{text-align:center}.ar{text-align:right}.b{font-weight:700}.hide{display:none}.clear,.clr{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{*zoom:1}.dorpdown{position:relative}.dorpdown-layer{display:none;position:absolute}.dorpdown:hover .dorpdown-layer,.hover .dorpdown-layer{display:block}.cw-icon{position:relative;cursor:default;zoom:1}.cw-icon .i,.cw-icon i{display:block;position:absolute;overflow:hidden}.fr .cw-icon .iconfont{position:absolute;right:5px;top:10px;width:12px;height:12px;line-height:12px}.w{width:990px;margin:0 auto}.root61 .w,.w1210 .w{width:1210px}.w1200 .w{width:1200px}.w1190 .w{width:1190px}body{font:12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;-webkit-font-smoothing:antialiased;color:#666;background:#fff}#com-content{background:#f6f6f6}a{color:#666;text-decoration:none}a:hover{color:#f30213}.p-detail,.p-img,.p-market,.p-name,.p-price{overflow:hidden}.m,.mb,.mc,.mt,.sm,.smb,.smc,.smt{overflow:hidden;zoom:1}.img-error{background:url(//misc.360buyimg.com/lib/skin/e/i/error-jd.gif) no-repeat 50% 50%}@font-face{font-family:iconfont;src:url(//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.eot);src:url(//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.eot#iefix) format("embedded-opentype"),url(//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.woff) format("woff"),url(//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.ttf) format("truetype"),url(//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.svg#iconfont) format("svg")}.iconfont{font-family:iconfont;font-style:normal;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale}


#header{width:100%;height:30px;line-height:30px;background:#e3e4e5;border-bottom:solid 1px #ddd}
#header .w{background:#e3e4e5;color:#999}
#header a{color:#999}
#header a:hover{color:#f30213}
#header li{float:left;height:30px;padding:0 2px}
#header li.spacer{width:1px;height:12px;margin-top:9px;padding:0;background:#ccc;overflow:hidden}
#header .dt{float:left;padding:0 8px}
#header .dd{line-height:24px}
#header .style-red{color:#f30213}




#logo-2014{position:relative;z-index:12;float:left;width:276px;height:50px;margin:15px 0 22px}
#logo-2014 .logo{display:block;margin-top:2px;width:134px;height:42px;background:url(/share/resource/front/image/logo.png) no-repeat 0 0;background-size:134px 42px;text-indent:-20000px}
#search-2014{position:relative;z-index:11;float:left;width:384px;margin:27px 30px 0 95px}
#search-2014 .form{width:384px;height:36px}
#search-2014 .text{float:left;width:294px;height:24px;line-height:24px;color:#999;padding:4px;margin-bottom:4px;border-width:2px 0 2px 2px;border-color:#f30213;border-style:solid;outline:0;font-size:12px}
#search-2014 .button{float:left;width:80px;height:36px;font-family:tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;background:#f30213;border:none;line-height:1;color:#fff;font-size:16px;cursor:pointer}



.women-floor160419-01{padding-bottom:45px}
.women-floor160419-01 .slider-nav{position:absolute;bottom:20px;width:108px;height:12px;left:50%;margin-left:-51px;overflow:hidden;z-index:100}
.women-floor160419-01 .slider-nav li{background:url(//misc.360buyimg.com/channel/sc-women/2.0.0/widget/first-screen/i/circle02.png) center 0 no-repeat;width:12px;height:12px;float:left;margin-right:6px;text-indent:-999em;overflow:hidden;cursor:default}
.women-floor160419-01 .slider-nav li.selected{background:url(//misc.360buyimg.com/channel/sc-women/2.0.0/widget/first-screen/i/circle.png) center 0 no-repeat}
.women-floor160419-01 .slider-page{display:none}
.women-floor160419-01 .slider-page a{position:absolute;top:50%;margin-top:-23px;z-index:1;display:block;width:32px;height:46px;background:gray;background:rgba(0,0,0,.2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000);color:#fff;text-align:center;font:400 22px/46px SimSun,Hiragino Sans GB}
.women-floor160419-01 .slider-page a:hover{background:rgba(252,91,122,.5)}
.women-type-con{width:245px;height:640px;background-color:#ff5b79;float:left;position:relative;*z-index:500}
.women-type-con dl{padding:13px 20px 0;*padding:12px 20px 0}
.women-type-con dl.first{padding-top:17px}
.women-type-con dl.curr,.women-type-con dl:hover{background-color:#f83f61}
.women-type-con dl.curr .arrow{z-index:210;*z-index:400;top:44px;right:-27px;width:0;height:0;font-size:0;line-height:0;border-width:7px 0 7px 7px;border-style:solid;border-color:transparent transparent transparent #f7405f}
.women-type-con dl dt{font-size:14px;color:#FFF;position:relative}
.women-type-con dl dt i{position:absolute;right:0;top:-2px;font:700 12px/18px SimSun,Hiragino Sans GB}
.women-type-con dl dd{line-height:26px;*line-height:24px;padding-top:5px;padding-bottom:9px;background:url(//misc.360buyimg.com/channel/sc-women/2.0.0/widget/first-screen/i/line.png) left bottom repeat-x}
.women-type-con dl dd a{font-size:12px;color:#FFF;display:inline-block;padding:0 15px 0 0;word-wrap:break-word;word-break:break-all}
.women-type-con dl.no-bg dd{background:0 0;padding-bottom:15px}
.women-focus-ads ul li{position:relative;float:left;width:248px;height:319px;border-bottom:1px solid #e5e5e5;overflow:hidden}
.women-focus-ads ul li img{display:block;position:absolute;left:0;z-index:-1}
.women-focus-ads ul li a{display:block;width:247px;border-right:1px solid #e5e5e5;height:259px}
.women-focus-ads ul li a:hover{background:url(//misc.360buyimg.com/channel/sc-women/2.0.0/widget/first-screen/i/bg.jpg) left bottom repeat-x}
.women-focus-ads ul li.fore4{display:none}body,html{overflow-x:hidden;overflow-y:auto}



#nav-2014{margin-top:10px;height:33px;border-bottom:2px solid #f30213;_overflow:hidden}
#nav-2014 .w{position:relative;z-index:9}#nav-2014 .w .w-spacer{display:none}
#categorys-2014{float:left;position:relative;z-index:10;width:280px;height:33px;line-height:33px;background:#f83f61;overflow:visible}
#categorys-2014 .dt{padding:0 10px;font-size:14px;position:relative;bottom:0;color:#fff}
#categorys-2014 .dt a{display:block;height:33px;background:#f30213;color:#fff;text-decoration:none;text-align:center}
#categorys-2014 .dt s{position:relative;top:-9px;text-decoration:none}
#categorys-2014 .dt .ci-right{top:14px;right:7px;height:7px;overflow:hidden;font:700 20px/16px simsun,Hiragino Sans GB;color:#fff;transition:transform .1s ease-in 0s;-webkit-transition:-webkit-transform .1s ease-in 0s;display:block;position:absolute}
#nav-2014 .hover .dt .ci-right{transform:rotate(180deg);-webkit-transform:rotate(180deg);_top:17px}
#navitems-2014{float:left;position:relative;z-index:2}
#navitems-2014 .spacer,#navitems-2014 a,#navitems-2014 li,#navitems-2014 ul{float:left}
#navitems-2014 .spacer{display:block}
#navitems-2014 a{height:33px;padding:0 22px;text-align:center;text-decoration:none;font-size:14px;line-height:33px;color:#333}
#navitems-2014 a:hover{color:#f30213}#navitems-2014 .spacer{width:1px;height:13px;margin:10px 0;background:#eee;overflow:hidden}
#navitems-2014 #navitems-group1 a{font-weight:700}
#navitems-2014 #navitems-group1 a.b:hover,#navitems-2014 #navitems-group1 a:hover,#navitems-2014 #navitems-group1 li.curr a{color:#f30213}
#navitems-2014 #navitems-group2 a{color:#666}#navitems-2014 #navitems-group2 a:hover{color:#f30213}
#navitems-2014 #navitems-group2 a.b{color:#333}
#navitems-2014 #navitems-group2 a.b:hover{color:#f30213}


#footer-2017{padding-bottom:30px;background:#eaeaea;text-align:center}
#footer-2017 .copyright_info{padding:10px 0;line-height:22px;color:#999}
#footer-2017 .copyright_info a{color:#999}
#footer-2017 .copyright_info a:hover{color:#f30213}
#footer-2017 .copyright_split{margin:0 6px;color:#ccc}
#footer-2017 .copyright_license{margin-left:16px}
#footer-2017 .copyright_auth_ico{overflow:hidden;display:inline-block;margin:0 3px;width:103px;height:32px;background-image:url(//misc.360buyimg.com/jdf/1.0.0/unit/global-footer/5.0.0/i/ico_footer.png);line-height:1000px}
#footer-2017 .copyright_auth_ico_1{background-position:0 0}
#footer-2017 .copyright_auth_ico_2{background-position:-104px 0}
#footer-2017 .copyright_auth_ico_3{background-position:0 -33px}
#footer-2017 .copyright_auth_ico_4{background-position:-104px -33px}
#footer-2017 .copyright_auth_ico_5{background-position:0 -66px}
#footer-2017 .copyright_auth_ico_6{background-position:-104px -66px}



#service-2017{padding-bottom:18px;background:#eaeaea;overflow:hidden}
#service-2017 dl{float:left}
#service-2017 dt{padding-bottom:6px;font-weight:700;font-size:14px;color:#777;height:22px}
#service-2017 dd{font-size:12px;color:#666;height:22px;overflow:hidden}
#service-2017 .slogen{*zoom:1;position:relative;height:42px;padding:30px 0 30px 55px;overflow:hidden}
#service-2017 .slogen .item{float:left;position:relative;width:224px;height:42px;line-height:42px;font-size:18px;font-weight:700;text-indent:46px;color:#444}
#service-2017 .slogen .item i{display:block;position:absolute;top:0;left:0;width:36px;height:42px;text-indent:-9999px;background-image:url(//misc.360buyimg.com/jdf/1.0.0/unit/service/5.0.0/i/ico_service.png);background-repeat:no-repeat;background-position:0 0}
#service-2017 .slogen .fore2 i{background-position:0 -43px}
#service-2017 .slogen .fore3 i{background-position:0 -86px}
#service-2017 .slogen .fore4 i{background-position:0 -129px}
#service-2017 .jd-help{border-top:solid 1px #dedede;border-bottom:solid 1px #dedede}
#service-2017 .jd-help dl{width:206px;line-height:22px}
#service-2017 .wrap{*zoom:1;padding:20px 0 20px 55px;margin-right:-340px}
